# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
*.tsbuildinfo
**/tsconfig.build.tsbuildinfo

# Environment variables & secrets
.env
**/.env
!.env.example
!**/.env.example
*.env.local

# Logs
*.log
**/logs/

# IDE & System files
.DS_Store
.vscode/
.idea/
